<span class="index">{{index}}</span>
<div class="image-wrapper">
  <img src="{{player.photoURL}}" alt="">
</div>
<span>{{player.name}}</span>

{{#if isMe}}
<button class="remove" {{action 'changeMind'}}>я передумал</button>
{{/if}}
