<div class="center-wrapper">
  {{#if user}}
  <div class="left-side">
    {{avatar-icon user=user}}
    <div class="user-name">
      {{user.displayName}}
    </div>
  </div>
  {{/if}}
  <div class="right-side">
    {{#if session.isAuthenticated}}
    <button class="sign-out" {{action 'signOut'}}>{{t 'buttons.sign_out'}}</button>
    {{/if}}
  </div>
</div>
