{{#if session.isAuthenticated}}
{{site-header}}
{{/if}}

{{ember-notify closeAfter=4000}}

<div class="center-wrapper">
  {{outlet}}
</div>

{{#if session.isAuthenticated}}
<footer>
  {{#link-to 'index'}}Таблица игроков{{/link-to}}
  {{#link-to 'contacts'}}Контакты{{/link-to}}
</footer>
{{/if}}
