<h1 class="page-title">{{t 'contacts.title'}}</h1>
<div>
  <div>
    <b>Адрес: </b><span>г. Санкт-Петербург, Уткин проспект, д. 15, м. Ладожская</span>
  </div>
  <div>
    <b>Телефон: </b><tel>(812) 992-91-05</tel>
  </div>
  <div>
    <span>Наша группа Вконтакте </span><a href="http://vk.com/nevafootball">http://vk.com/nevafootball</a>
  </div>
</div>

<div class="maps-wrapper">
  <div class="map">
    <h3>
      Схема проезда c пр.Энергетиков
    </h3>
    <div>
      <img src="{{energetiksSrc}}" alt="">
    </div>
  </div>

  <div class="map">
    <h3>
      Схема проезда c Заневского пр.
    </h3>
    <div>
      <img src="{{zanevskijSrc}}" alt="">
    </div>
  </div>
</div>
