<div class="play-team center-wrapper">
  <h1>
    <span>Кто пойдет на футбол </span><span>{{humanDate}}</span>
  </h1>

  <ol class="players-list"></ol>

  <button
    class="submit-go"
    {{action 'submitForm'}}>
    Я пойду!
  </button>
</div>
