<div class="play-team center-wrapper">
  <h1>
    <span>Кто пойдет на футбол </span><span>{{humanDate}}</span>
  </h1>

  <ol class="players-list"></ol>

  <button class="submit-go" type="submit" {{action submitForm on="submit"}}>
    Я пойду!
  </button>
</div>
