<div class="play-team center-wrapper">
  <h1>
    {{t 'index.suggestion_message' humanDate=humanDate}}
  </h1>

  <ol class="players-list">
    {{#each players as |player index|}}
      {{player-item
        index=(add index 1)
        player=player
        me=me
        changeMind=(action 'changeMind')
      }}
    {{/each}}
  </ol>

  {{#unless isInTeam}}
  <button
    class="submit-go"
    {{action 'submitGo'}}>
    {{t 'buttons.submit_go'}}
  </button>
  {{/unless}}
</div>
