<div class="play-team center-wrapper">
  <h1>
    <span>Кто пойдет на футбол </span><span>{{humanDate}}</span>
  </h1>

  <ol class="players-list">
    {{#each players as |player index|}}
      {{player-item
        player=player
        index=(add index 1)
        me=model.me
        changeMind=(action 'changeMind')
      }}
    {{/each}}
  </ol>

  {{log isInTeam}}

  {{#unless isInTeam}}
  <button
    class="submit-go"
    {{action 'submitGo'}}>
    Я пойду!
  </button>
  {{/unless}}
</div>
